@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 63, 82, 119;
    --background-end-rgb: 63, 82, 119;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.workshop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workshop-container * {
  font-family: Consolas, "Courier New", monospace;
}

.workshop-title {
  font-size: 3rem;
  font-weight: 700;
  color: lightgrey;
}

.workspace {
  height: 100vh;
  width: 75vw;
  margin: 0 2rem 1rem 2rem;
  background-color: rgb(108, 131, 177);
  padding: 2rem;
}

.counter button {
  width: 64px;
  height: 64px;
  background-color: #b1bdd6;
  border-radius: 5px;
  font-size: 32px;
}

.count {
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  font-size: 32px;
}